h1 {
    margin-bottom: 20px;
}
#f-val {
    width: 40px;
    margin-bottom: 40px;
}
#sidebar-content {
    text-align: center;
}
#canvas svg {
    border-width: 0 1px;
    border-color: black;
    border-style: solid;
}
.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}
.graph {
    margin-top: 20px;
}
