h1 {
    margin-bottom: 1em;
}
#f-val {
    width: 3em;
    margin-bottom: 2em;
}
#sidebar-content {
    text-align: center;
}
#canvas svg {
    border-width: 0 1px;
    border-color: black;
    border-style: solid;
}
.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}
#compute-reeb {
    margin-top: 1em;
}
#reeb {
    margin-top: 20px;
}
